/*body {
    background-image: url('../images/SFF.png');
    background-size: cover;       /* Make it cover the entire page */
/*    background-position: center;  Center the image
 /*   background-repeat: no-repeat; /* Do not repeat */
   /* height: 100vh;                /* Make body take full viewport height */
    /*margin: 0;
/* }*/ 

